 # **Virality Predictor**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [3]:
train_csv_path = 'data/train_advance.csv/train_advance.csv'
df = pd.read_csv(train_csv_path)

In [4]:
df.head()

,Unnamed: 0.1,Unnamed: 0,location_id,profile_id,sid,sid_profile,post_id,post_type,description,numbr_likes,...,region,cd,phone,aj_exact_city_match,aj_exact_country_match,blurb,dir_city_name,dir_country_name,lat,lng
0,11420,11755,340283947,829324748,28919418,295070,Bka_6xunYma,1,Cheers to wine O‚Äôclock ü•Ç (üì∏: @aob1085),4985,...,NaN,ES,+34 936 65 77 41,False,False,NaN,El Prat de Llobregat,Spain,2,41
1,24264,24967,2631322,199074048,42114489,4342099,BxaZS4fA_nV,1,#malcapuyaisland #bananaisland #bulogisland,57,...,NaN,PH,NaN,True,False,NaN,Coron,Philippines,120,11
2,16286,16768,668571209,3280121227,19193237,2554203,BxmEzQUFocM,1,üî∏\\nSchwarzkehlchen (Saxicola rubicola) ‚Ä¢...,1576,...,Saxony-Anhalt,DE,NaN,False,True,NaN,NaN,NaN,11,51
3,11139,11467,238461670,5625643374,11733129,3465973,Bjq5KFGlJvM,1,Eared Grebe spotted at one of my favourite spo...,29,...,NaN,CA,NaN,True,False,NaN,NaN,NaN,-118,52
4,27320,28111,1005642734,1557071010,8540244,3541402,BweviowATmj,1,–ü–õ–ê–ö–ê–¢–¨ –í –ú–û–°–¢–ê–• - –≠–¢–û –ù–û–†...,1487,...,NaN,RU,79214201362,False,False,—Ü–µ–Ω—Ç—Ä –∏–Ω–∏—Ü–∏–∞—Ü–∏–∏ —Ç–≤–æ—Ä—á–µ—Å—Ç...,Aptekarskiy,Russia,30,59

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22924 entries, 0 to 22923
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0.1            22924 non-null  int64
 1   Unnamed: 0              22924 non-null  int64
 2   location_id             22924 non-null  int64
 3   profile_id              22924 non-null  int64
 4   sid                     22924 non-null  int64
 5   sid_profile             22924 non-null  int64
 6   post_id                 22890 non-null  object
 7   post_type               22924 non-null  int64
 8   description             22333 non-null  object
 9   numbr_likes             22924 non-null  int64
 10  number_comments         22924 non-null  int64
 11  profile_name            22924 non-null  object
 12  firstname_lastname      22522 non-null  object
 13  following               22924 non-null  object
 14  followers               22924 non-null  int64
 15  n_posts                 22919 non-null  float64
 16  url                     14525 non-null  object
 17  is_business_account     22919 non-null  object
 18  name                    22924 non-null  object
 19  zip                     12957 non-null  object
 20  city                    21017 non-null  object
 21  region                  395 non-null    object
 22  cd                      21693 non-null  object
 23  phone                   9968 non-null   object
 24  aj_exact_city_match     22589 non-null  object
 25  aj_exact_country_match  22589 non-null  object
 26  blurb                   6851 non-null   object
 27  dir_city_name           10661 non-null  object
 28  dir_country_name        10661 non-null  object
 29  lat                     22924 non-null  int64
 30  lng                     22924 non-null  int64
dtypes: float64(1), int64(12), object(18)
memory usage: 5.4+ MB

### Check for null values

In [7]:
missing_values = df.isnull().sum()
missing_values

Unnamed: 0.1                  0
Unnamed: 0                    0
location_id                   0
profile_id                    0
sid                           0
sid_profile                   0
post_id                      34
post_type                     0
description                 591
numbr_likes                   0
number_comments               0
profile_name                  0
firstname_lastname          402
following                     0
followers                     0
n_posts                       5
url                        8399
is_business_account           5
name                          0
zip                        9967
city                       1907
region                    22529
cd                         1231
phone                     12956
aj_exact_city_match         335
aj_exact_country_match      335
blurb                     16073
dir_city_name             12263
dir_country_name          12263
lat                           0
lng                           0
dtype: int64

In [16]:
numerical_summary = df.describe()
print('Numerical variable summary: \n',numerical_summary)

Numerical variable summary:
        Unnamed: 0.1    Unnamed: 0   location_id    profile_id           sid  \
count  22924.000000  22924.000000  2.292400e+04  2.292400e+04  2.292400e+04
mean   14326.644390  14746.272727  2.031771e+14  1.639743e+09  2.209471e+07
std     8259.105723   8499.079707  4.874348e+14  2.515905e+09  1.243940e+07
min        0.000000      0.000000  7.280000e+02  2.800000e+01  3.141270e+05
25%     7174.500000   7394.500000  2.134705e+08  5.395078e+07  1.068681e+07
50%    14354.000000  14779.000000  2.714577e+08  3.615130e+08  1.972532e+07
75%    21463.250000  22091.250000  1.043857e+14  1.986851e+09  3.447145e+07
max    28654.000000  29484.000000  2.840779e+15  1.423139e+10  4.333045e+07

        sid_profile     post_type    numbr_likes  number_comments  \
count  2.292400e+04  22924.000000   22924.000000     22924.000000
mean   2.934882e+06      1.028180    4717.406125        75.919080
std    1.298506e+06      0.165491   17791.343918       772.905297
min   -1.000000e+00      1.000000       0.000000         0.000000
25%    2.187998e+06      1.000000     201.000000         4.000000
50%    3.405434e+06      1.000000    1347.000000        18.000000
75%    3.816624e+06      1.000000    3121.000000        51.000000
max    4.510732e+06      2.000000  544129.000000     95204.000000

          followers       n_posts           lat           lng
count  2.292400e+04  22919.000000  22924.000000  22924.000000
mean   2.331836e+05   1639.790305     -7.159963     38.022029
std    9.600404e+05   2614.300093     67.529737     20.480653
min    0.000000e+00      1.000000   -179.000000    -89.000000
25%    2.295750e+03    250.000000    -73.000000     34.000000
50%    2.805550e+04    764.000000      0.000000     42.000000
75%    1.361772e+05   1963.000000     37.000000     51.000000
max    3.533971e+07  60330.000000    179.000000     73.000000

In [17]:
categorical_summary = df.describe(include=['object'])
print('Categorical variable summary: \n',categorical_summary)

Categorical variable summary:
             post_id description profile_name firstname_lastname following  \
count         22890       22333        22924              22522     22924
unique        22791       22126        19252              18670      4339
top     BvmcBahHkU4      ‚ù§Ô∏è  infatuation    The Infatuation         0
freq              3          16           13                 13       116

              url is_business_account                name    zip  \
count       14525               22919               22924  12957
unique      11692                   2               17018   7524
top     gmail.com                True  New York, New York  10012
freq           13               13045                 276     90

                  city         region     cd           phone  \
count            21017            395  21693            9968
unique            5769            182    183            8849
top     Moscow, Russia  Moscow Oblast     US  (347) 219-3987
freq              1718             16   5836              43

       aj_exact_city_match aj_exact_country_match                   blurb  \
count                22589                  22589                    6851
unique                   2                      2                    6121
top                  False                  False  www.TimesSquareNYC.org
freq                 16021                  22194                      21

       dir_city_name dir_country_name
count          10661            10661
unique          5318              163
top      Los Angeles    United States
freq             203             2799

### Data cleaning

In [10]:
data_cleaned = df.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
data_cleaned.head()

,location_id,profile_id,sid,sid_profile,post_id,post_type,description,numbr_likes,number_comments,profile_name,...,region,cd,phone,aj_exact_city_match,aj_exact_country_match,blurb,dir_city_name,dir_country_name,lat,lng
0,340283947,829324748,28919418,295070,Bka_6xunYma,1,Cheers to wine O‚Äôclock ü•Ç (üì∏: @aob1085),4985,78,oprahmagazine,...,NaN,ES,+34 936 65 77 41,False,False,NaN,El Prat de Llobregat,Spain,2,41
1,2631322,199074048,42114489,4342099,BxaZS4fA_nV,1,#malcapuyaisland #bananaisland #bulogisland,57,2,jpadi_33,...,NaN,PH,NaN,True,False,NaN,Coron,Philippines,120,11
2,668571209,3280121227,19193237,2554203,BxmEzQUFocM,1,üî∏\\nSchwarzkehlchen (Saxicola rubicola) ‚Ä¢...,1576,15,m4r10_p13ch4ty,...,Saxony-Anhalt,DE,NaN,False,True,NaN,NaN,NaN,11,51
3,238461670,5625643374,11733129,3465973,Bjq5KFGlJvM,1,Eared Grebe spotted at one of my favourite spo...,29,5,vagabondesi,...,NaN,CA,NaN,True,False,NaN,NaN,NaN,-118,52
4,1005642734,1557071010,8540244,3541402,BweviowATmj,1,–ü–õ–ê–ö–ê–¢–¨ –í –ú–û–°–¢–ê–• - –≠–¢–û –ù–û–†...,1487,11,elena__mirra,...,NaN,RU,79214201362,False,False,—Ü–µ–Ω—Ç—Ä –∏–Ω–∏—Ü–∏–∞—Ü–∏–∏ —Ç–≤–æ—Ä—á–µ—Å—Ç...,Aptekarskiy,Russia,30,59