 ### **Virality Predictor**

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

In [4]:
df= pd.read_csv('train_advance.csv')

In [5]:
df.head()

,Unnamed: 0.1,Unnamed: 0,location_id,profile_id,sid,sid_profile,post_id,post_type,description,numbr_likes,...,region,cd,phone,aj_exact_city_match,aj_exact_country_match,blurb,dir_city_name,dir_country_name,lat,lng
0,11420,11755,340283947,829324748,28919418,295070,Bka_6xunYma,1,Cheers to wine O‚Äôclock ü•Ç (üì∏: @aob1085),4985,...,NaN,ES,+34 936 65 77 41,False,False,NaN,El Prat de Llobregat,Spain,2,41
1,24264,24967,2631322,199074048,42114489,4342099,BxaZS4fA_nV,1,#malcapuyaisland #bananaisland #bulogisland,57,...,NaN,PH,NaN,True,False,NaN,Coron,Philippines,120,11
2,16286,16768,668571209,3280121227,19193237,2554203,BxmEzQUFocM,1,üî∏\\nSchwarzkehlchen (Saxicola rubicola) ‚Ä¢...,1576,...,Saxony-Anhalt,DE,NaN,False,True,NaN,NaN,NaN,11,51
3,11139,11467,238461670,5625643374,11733129,3465973,Bjq5KFGlJvM,1,Eared Grebe spotted at one of my favourite spo...,29,...,NaN,CA,NaN,True,False,NaN,NaN,NaN,-118,52
4,27320,28111,1005642734,1557071010,8540244,3541402,BweviowATmj,1,–ü–õ–ê–ö–ê–¢–¨ –í –ú–û–°–¢–ê–• - –≠–¢–û –ù–û–†...,1487,...,NaN,RU,79214201362,False,False,—Ü–µ–Ω—Ç—Ä –∏–Ω–∏—Ü–∏–∞—Ü–∏–∏ —Ç–≤–æ—Ä—á–µ—Å—Ç...,Aptekarskiy,Russia,30,59

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22924 entries, 0 to 22923
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0.1            22924 non-null  int64
 1   Unnamed: 0              22924 non-null  int64
 2   location_id             22924 non-null  int64
 3   profile_id              22924 non-null  int64
 4   sid                     22924 non-null  int64
 5   sid_profile             22924 non-null  int64
 6   post_id                 22890 non-null  object
 7   post_type               22924 non-null  int64
 8   description             22333 non-null  object
 9   numbr_likes             22924 non-null  int64
 10  number_comments         22924 non-null  int64
 11  profile_name            22924 non-null  object
 12  firstname_lastname      22522 non-null  object
 13  following               22924 non-null  object
 14  followers               22924 non-null  int64
 15  n_posts                 22919 non-null  float64
 16  url                     14525 non-null  object
 17  is_business_account     22919 non-null  object
 18  name                    22924 non-null  object
 19  zip                     12957 non-null  object
 20  city                    21017 non-null  object
 21  region                  395 non-null    object
 22  cd                      21693 non-null  object
 23  phone                   9968 non-null   object
 24  aj_exact_city_match     22589 non-null  object
 25  aj_exact_country_match  22589 non-null  object
 26  blurb                   6851 non-null   object
 27  dir_city_name           10661 non-null  object
 28  dir_country_name        10661 non-null  object
 29  lat                     22924 non-null  int64
 30  lng                     22924 non-null  int64
dtypes: float64(1), int64(12), object(18)
memory usage: 5.4+ MB